*
!src/
!src/*
!src/*/*
!static/
!static/*
!static/icons/*
!views/
!views/*
!.gitignore
!Dockerfile
!package.json
!tsconfig.json
!yarn.lock
!.gitattributes
!example-config.json
!README.md
!screenshot.webp
!.github/
!.github/workflows/
!.github/workflows/push-to-ghcr.yml
**/.DS_Store
