doctype html
html
	head
		block title
			title="reference-viewer"
		meta(charset='utf-8')
		meta(name="viewport", content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="/style.css")
		block head
	body
		block content