extends _template.pug

block content
    #reference
    #bottom-bar
        img.bar-button#configure-button
        span#bottom-bar-center
            img.bar-button#prev-button
            img.bar-button#play-button
            img.bar-button#next-button
    #status
    script(type="text/javascript")=`window.imagesMax = ${imagesMax};`
    script(src="/index.js", type="text/javascript")